# IDEs
.vscode

# Caching
__pycache__/
.ipynb_checkpoints/
.DS_Store
saved_models/.DS_Store
.Rhistory

# Data files
tickerData/
model_metrics/
model_predictions/numeric/arima/**/
saved_models/numeric/arima/**/
windows.txt
