# IDEs
.vscode

# Caching
__pycache__/
.ipynb_checkpoints/
.DS_Store
saved_models/.DS_Store
.Rhistory

# Data files
tickerData/
model_metrics/
meta_model_predictions/
model_predictions/numeric/arima/**/
# saved_models/numeric/arima/**/
windows.txt

# temporary
saved_models/categorical/rf
saved_models/categorical/xgb
saved_models/meta
meta_model.ipynb
meta_model_validation.py