# IDEs
.vscode

# Caching
__pycache__/
.ipynb_checkpoints/
.DS_Store
saved_models/.DS_Store
.Rhistory

# Data files
tickerData/
model_metrics/
meta_model_predictions/
model_predictions/numeric/arima/**/
# saved_models/numeric/arima/**/
windows.txt

# old models
saved_models/archived
saved_models/meta